<div class="pagina-formulario">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ modo }}</li>
    </ol>
  </nav>
  <div ng-if="notificao" class="alert alert-{{notificao.tipo}} m-3" role="alert">
      {{ notificao.mensagem }}
      <button ng-click="removerAlert($event)" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <form name="lista-formulario">
    <div class="text-right mb-3">
        <a href="#" ng-click="novoAmigo($event)" class="btn btn-primary">
            <i class="fas fa-plus-square"></i> Novo amigo(a)
        </a>
    </div>
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input type="text" ng-model="titulo" class="form-control" id="titulo" aria-describedby="tituloHelp" placeholder="Titulo da lista">
      <small id="tituloHelp" class="form-text text-muted">Nome da lista</small>
    </div>
    <div ng-repeat="amigo in amigos" class="amigo-secreto">
      <div class="form-group">
        <div class="float-right"><a class="remover-btn" ng-click="removerAmigo($event, $index)" href="#"><i class="fas fa-times"></i></a></div>
        <label for="nome{{$index}}Amigo">Nome</label>
        <input type="text" ng-model="amigo.nome" class="form-control" id="nome{{$index}}Amigo" aria-describedby="nome{{$index}}Help" placeholder="E-mail">
        <small id="nome{{$index}}Help" class="form-text text-muted">Nome do amigo secreto</small>
      </div>
      <div class="form-group">
        <label for="email{{$index}}Amigo">Email</label>
        <input type="email" ng-model="amigo.email" class="form-control" id="email{{$index}}Amigo" aria-describedby="email{{$index}}Help" placeholder="E-mail">
        <small id="email{{$index}}Help" class="form-text text-muted">E-mail que o amigo secreto irá receber quando a lista for gerado</small>
      </div>
    </div>
    <div class="text-left m-3">
      <div class="btn-group" role="group" aria-label="opcoes">
        <button ng-click="salvar($event)" type="button" class="btn btn-success">Salvar</button>
        <a ui-sref="home" class="btn btn-secondary">Cancelar</a>
      </div>
    </div>
  </form>
</div>